{% extends 'exam/base.html' %}
{% load staticfiles %}
{% load render_as_template %}
{% block content %}


    {% if question.print_statement  %}
        <p id="statement" class="center">{% render_as_template question.statement %}</p>
    {% endif %}

    {% if question.dictate_statement %}
        <script>
            // Construimos una cadena con el texto que ya ha renderizado Django
            statement = "'" + document.getElementById("statement").innerHTML + "'";
            dictate(statement);
        </script>
    {% endif %}



<div class="offset-m4 input-field col s4 center">
    <form method="post" action="{% url 'exam:load_slw' %}">
        {% csrf_token %}
        <button class="btn waves-effect waves-light" type="submit" name="action">
            Continue
        </button>
    </form>
</div>
{% endblock %}